body {
    font-family: Arial, sans-serif;
  }
  .header-content,
  .contact-info {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .profile_picture {
    display: flex;
    justify-content: right;
  }
  
  .reconversion {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .contact-info {
    display: flex;
    align-items: center;
    width: 70%;
    height: auto;
  }
  .contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .rqth {
    color: #dd3d4e;
    font-weight: bold;
    width: 90%;
  }
  .item-reconversion h1 {
    display: flex;
    justify-content: center;
    color: #db72ca;
    font-size: 18px;
  }
  .item-reconversion h2 {
    display: flex;
    justify-content: center;
    color: #dd3d4e;
  }
  .reconversion p,
  .objectif p {
    font-weight: bold;
  }
  .date {
    width: 100%;
  }
  
  .left-column {
    width: 49%;
    float: left;
  }
  .right-column {
    width: 49%;
    float: right;
  }
  .left-column ul,
  .right-column ul {
    text-align: center;
  }
  .left-column h2,
  .right-column h2 {
    background-color: #dd3d4e;
    color: white;
    text-align: center;
  }
  .left-column h2,
  .right-column h2 {
    font-size: x-large;
  }
  h2,
  h3,
  h5 {
    color: #dd3d4e;
    font-weight: bold;
    text-align: center;
  }
  h4 {
    color: #dd3d4e;
    text-align: center;
  }
  .date h4 {
    color: black;
    text-align: center;
  }
  ul {
    font-weight: bold;
    list-style-type: none;
  }
  .skill-item {
    display: flex;
    align-items: flex-end;
  }
  .skill-item img {
    width: 50px;
    height: 50px;
  }
  #soft_skills h2,
  #loisirs h2,
  #langue h2 {
    text-align: left;
  }
  .row {
    display: flex;
    justify-content: left;
  }
  .soft_skills,
  .loisirs,
  .langue {
    width: 100%;
  }
  